:root{
    --color-one:lighblue;
    --font: 'Inria serif', serif;
}
body{
    font-family: var(--font)
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 21000px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}